PORT=3000

# PostgreSQL
PG_HOST=localhost
PG_PORT=5432
PG_DATABASE=curso_backend
PG_USER=postgres
PG_PASSWORD=tu_password

# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DATABASE=curso_backend_mongo
